/3T
/Code
/Debauchee
/Ghetto Skype
/JetBrains
/Kvantum
/QtProject.conf
/Slack
/Trolltech.conf
/autostart
/composer
/configstore
/dconf
/filezilla
/flameshot
/gedit
/gnome-layout-switcher.conf
/gnome-session
/goa-1.0
/gtk-3.0
/gtk-4.0
/hexchat
/ibus
/manjaro-hello.json
/mimeapps.list
/monitors.xml
/nautilus
/neofetch
/nextjs-nodejs
/nnn
/pamac
/polybar.old
/pulse
/qt5ct
/ranger
/rofi.old
/touchegg
/user-dirs.dirs
/user-dirs.locale
/whatsapp-nativefier-d52542