/touchegg
/rofi.old
/ranger
/qt5ct
/pulse
/polybar.old
/pamac
/nextjs-nodejs
/nautilus
/Kvantum
/JetBrains
/ibus
/hexchat
/gtk-4.0
/gtk-3.0
/goa-1.0
/gnome-session
/Gheto Skype
/gedit
/Debauchee
/dconf
/configstore
/Code
/autostart
gnomegnome-layout-switcher.conf
manjaro-hello.json
mimeapps.list
monitors.xml
Trolltech.conf